*{
	margin :0;
	padding:0;
}
.header{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}

.container{
	width: 1140px;
	margin: auto;
}
.nav{
	display: flex;
	justify-content: space-between;
}
.logo img{
	width: 100px;

}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #1e266d;
}
.menu-btn{
  margin-top: 16px;
}
.menu-btn button{
	background-color: #2e367d;
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	font-size: 16px;
}
.menu-btn button:hover{
  background-color: #00AEEF;
}

/*
banner css
*/
.banner{
	width: 100%;
}

.banner-content{
	display: flex;
}

.banner-content img{
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.banner-left h1{
	font-size: 45px;
    color: #1e266d;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;

}

.banner-left p{
	margin-bottom: 20px;
    margin-top: 20px;
	font-size: 22px;
    color: #1e266d;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.banner-left{
	margin-top: 70px;
}

.banner-left button{
	background-color: #2e367d;
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	border: none;
	font-size: 16px;
	border-radius: 6px;
}

.banner-left button:hover{
	background-color: #00AEEF;

}

.banner-2 .banner-left{
	flex-basis: 50%;

}
.banner-2 .banner-right{
	flex-basis: 50%;
	
}

.banner-2 .banner-left p{
	font-size: 16px;

}

.about{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}

.about-content h2{
	color: #1e266d;
	font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}

.about-content p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    line-height: 28px;
    color: #333;
    

}